@charset "utf-8";

/* reset */
body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, tr, th, td, form,
fieldset, legend, address, blockquote { margin:0; padding:0 }
h1, h2, h3, h4, h5, h6 { font-size:100% }
address, em { font-style:normal }
fieldset, img { border:0 none }
table { border-collapse:collapse; border-spacing:0 }
ol, ul, li { list-style:none }
hr { display:none }


/* base */
body {
	font-size:12px;
	font-family:"돋움",Dotum,"맑은 고딕","Malgun Gothic","Apple Gothic",sans-serif;
	color:#666;
	line-height: 18px;
	background-color:#fff;
	line-height: 18px;
}

a { text-decoration:none; color: #666; }
a:hover { text-decoration:underline }
a:visited {text-decoration: none; color: #666; }
img, input { vertical-align:top }
.hidden { width:0; height:0; line-height:0; font-size:0 }